{%extends 'layout.html'%}

{%block content%}
Health center

<a href="{% url 'deletehealthcenter' pk=healthcenter.id %}" class="float-end btn-danger p-2 nav-link" onclick="return confirm('Are you sure you want to delete this Health Center?')">Delete Health Center</a>

<div class="container-fluid">
    <h3 class="text-center">{{healthcenter.healthcenter_name}}</h3>

    <ul class="box-info">
        <li>
            <i class='bx bxs-user'></i>
            <span class="text">
                <h3>1020</h3>
                <p>Employees</p>
            </span>
        </li>
        <li>
            <i class='bx bx-wallet'></i>
            <span class="text">
                <h3>2834</h3>
                <p>Completed Transactions</p>
            </span>
        </li>
        <li>
            <i class='bx bxs-dollar-circle'></i>
            <span class="text">
                <h3>1640</h3>
                <p>Available Products</p>
            </span>
        </li>
    </ul>
    
    
</div>
{%endblock%}