{%extends 'layout.html'%}

{%block content%}
Health centers
<a href="#" class="p-2 float-end btn-primary nav-link" data-toggle="modal" data-target="#addhealthcenter">Add Health
    Center</a>


<div class="container-fluid mt-5 ">
    <form class="my-2">
        <input type="text" name="searchKeyword" id="searchInput" onkeyup="searchTable()"
            placeholder="Search for a Health center" class="w-100 p-2">

    </form>
    <table class="table-bordered table table-striped white_bg" id="dataTable">
        <thead>
            <tr>
                <th>Health Center</th>
                <th>District</th>
                <th>Village</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if healthcenters %}

            {% for h in healthcenters %}
            <tr>
                <td>{{ h.healthcenter_name }}</td>
                <td>{{ h.district }}</td>
                <td>{{ h.village }}</td>
                <td>
                    <div class="d-flex">
                        <a href="{% url 'healthcenter' pk=h.id%}" class="nav-link text-light btn-dark mx-2"><i class="bx bx-low-vision">View</i></a>
                        <a href="#" class="nav-link text-warning btn-primary mx-2"><i class="bx bx-pen" data-toggle="modal" data-target="#edithealthcenter{{h.id}}">Edit</i></a>
                    </div>
                    
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4">No health centers available.</td>
            </tr>
            {% endif %}

        </tbody>
    </table>
</div>




<!-- add health center popup -->
<div class="modal fade" id="addhealthcenter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Health Center</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                   
                    <form action="{%url 'healthcenters'%}" class="form-group" method="post">
                        {% csrf_token %}
                        <label for="">Health Center Name</label>
                        <input type="text" class="form-control mb-2" name="healthcenter" required autocomplete="off">

                        <label for="">District</label>
                        <input type="text" class="form-control mb-2" name="district" required autocomplete="off">
                        <!-- <select name="countries" class="w-100 p-2 mb-2" id="countries"></select> -->
                        <label for="">Village</label>
                        <input type="text" class="form-control mb-2" name="village" required autocomplete="off">

                        <div class="float-end">
                            <button type="submit" class="p-2 btn-primary">Save</button>

                            <button type="button" class="p-2 btn-secondary" data-dismiss="modal">Cancel</button>

                        </div>

                    </form>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- edit health center popup -->
{%for h in healthcenters%}
<div class="modal fade" id="edithealthcenter{{h.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Health Center</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h4 class="text-center">{{h.healthcenter_name}}</h4>
                    <form action="{%url 'edithealthcenter' pk=h.id%}" class="form-group" method="post">
                        {% csrf_token %}
                        <label for="">Health Center Name</label>
                        <input type="text" class="form-control mb-2" name="healthcenter" value="{{h.healthcenter_name}}" required autocomplete="off">

                        <label for="">District</label>
                        <input type="text" class="form-control mb-2" name="district" value="{{h.district}}" required autocomplete="off">
                        <!-- <select name="countries" class="w-100 p-2 mb-2" id="countries"></select> -->
                        <label for="">Village</label>
                        <input type="text" class="form-control mb-2" name="village" value="{{h.village}}" required autocomplete="off">

                        <div class="float-end">
                            <button type="submit" class="p-2 btn-primary">Save</button>

                            <button type="button" class="p-2 btn-secondary" data-dismiss="modal">Cancel</button>

                        </div>

                    </form>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
{%endfor%}



{%endblock%}